import { httpParams } from 'ngx-https-params';
import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';
{{> imports}}

{{#interfaces}}{{> interface}}{{/interfaces}}

@Injectable({ providedIn: 'root' })
export class {{entityName}}ApiService {
  private readonly url = '{{&apiUrl}}';
  constructor(private http: HttpClient) {}

{{#requests}}
{{> request}}
{{/requests}}
}
