{{#description}}
  /** {{ description }} */
{{/description}}
export interface {{ name }} {
{{#properties}}
  /** {{ description }} */
  {{name}}{{#nullable}}?{{/nullable}}: {{type}};
{{/properties}}
}
