<<<#imports>>>
import { <<< importedName >>> } from './<<< importedName >>>'
<<</imports>>>
<<<#imports>>>

<<</imports>>>
<<<#description>>>
/** <<< description >>> */
<<</description>>>
export interface <<< interfaceName>>> {
  <<<#properties>>>
  /** <<< description >>> */
  <<<name>>>: <<<type>>>;
  <<</properties>>>
}