<<<#imports>>>
import { <<< importedName >>> } from './<<< importedName >>>';
<<</imports>>>
<<<#imports.0>>>

<<</imports.0>>>
<<<#description>>>
/** <<< description >>> */
<<</description>>>
export interface <<< interfaceName>>> {
  <<<#properties>>>
  /** <<< description >>> */
  <<<name>>>: <<<type>>>;
  <<</properties>>>
}
